html, body {
	width: 100%;
	height: 100%;
 	border: 1px;
 	margin: 0 auto;
 	padding: 0;
 	background-color: #DBE48E;
 }

.first {
	height: 100%;
	width: 33.333%;
	background-color: #49B7EB;
	float: left;
	margin: 0 auto;
}

.wrapper {
	height: 100%;
	width: 33.333%;
	float: right;
	margin: 0 auto;
	background-color: #2BF07D;
}

.second {
	height: 70%;
	width: 33.333%;
	
}

.third {
	height: 30%;
	width: 100%;
	background-color: red;
}