html, body {
	width: 100%;
	height: 100%;
	margin: 0;

}

#first, #third, #fourth, #fifth, #sixth {
	width: 100%;
	height: 14.2%;
	margin: 0;

}
#first{
	background-color: #D7E3E3;
}

#second {
	width: 100%;
	height: 28.4%;
	margin: 0 auto;

}

#second p {
	width: 80%;
	padding: 5% 0;
	margin: 0 auto;
}

#third {
	background-color: #3399FF;
}

#fourth {
	background-color: #C2CCCC;
}

#fifth {
	background-color: #FFC4A6;
}

#sixth {
	background-color: #FFB56C;
}

.square {
	height: 60px;
	width: 60px;
 	background-color: #3399FF;
 	position: relative;
 	top: 10px;
 	left: 10px;

	

}
